---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Fernando Guevara" description="About Fernando Guevara">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
			</Hero>

			<section>
				<h2 class="section-title">CV</h2>
				<div class="content">
					<a href="/assets/cv.pdf" download class="cv-button">
						<button>Download my CV</button>
					</a>					
				</div>
			</section>
			<section>
				<h2 class="section-title">About Me</h2>
				<div class="content">
					<p>
						I am a software engineering student at the Technical University of Ambato, currently residing in the city of Ambato, Ecuador. I am passionate about technology, I like to be constantly learning, I also like to play soccer and play video games
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bachelor's Degree in Software Engineering, Technical University of Ambato.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>I have experience in the following technologies: </p>
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>JavaScript</li>
						<li>React</li>
						<li>SQL</li>
						<li>C#</li>
						<li>Java</li>
						<li>Flutter</li>
						<li>Ionic</li>
						<li>Kotlin</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.cv-button {
    display: inline-block;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s ease;
}

.cv-button:hover {
    background-color: #ccc;
    color: #fff;
}

.cv-button button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

.cv-button:hover button {
    animation: pulse-animation 0.5s infinite;
}
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
