---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<img src="/assets/html.png" alt="HTML" width="100" height="100" />
		<h2>HTML, CSS, JavaScript</h2>
		<p>Proficient in HTML, CSS, and JavaScript for building interactive and responsive web applications.</p>
	</div>
	
	
	<div class="stack gap-2 lg:gap-4">
		<img src="/assets/react-logo.png" alt="ReactJS" width="100" height="100" />
		<h2>ReactJS</h2>
		<p>Proficient in ReactJS for building dynamic and responsive user interfaces.</p>
	</div>
	
	<div class="stack gap-2 lg:gap-4">
		<img src="/assets/sql-logo.png" alt="SQL" width="100" height="100" />
		<h2>SQL</h2>
		<p>Skilled in SQL for managing and querying relational databases.</p>
	</div>
	
	<div class="stack gap-2 lg:gap-4">
		<img src="/assets/csharp-logo.png" alt="C#" width="100" height="100" />
		<h2>C#</h2>
		<p>Experienced in C# for building robust and scalable applications.</p>
	</div>
	
	<div class="stack gap-2 lg:gap-4">
		<img src="/assets/java-logo.png" alt="Java" width="100" height="100" />
		<h2>Java</h2>
		<p>Skilled in Java for developing enterprise-level applications.</p>
	</div>
	
	<div class="stack gap-2 lg:gap-4">
		<img src="/assets/git-logo.png" alt="Git" width="100" height="100" />
		<h2>Git</h2>
		<p>Experienced in using Git for version control, collaboration, and managing project repositories.</p>
	</div>
	
	
	
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
